@import url(https://fonts.googleapis.com/css?family=Lato:300,regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgba(34, 53, 111, 0.5);
  line-height: 1;
  font-family: "Lato";
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 72.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.element-animation-left {
  opacity: 0;
  -webkit-transform: translateX(-3.125rem);
      -ms-transform: translateX(-3.125rem);
          transform: translateX(-3.125rem);
}

.element-animation-left.element-show {
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  opacity: 1;
  -webkit-transform: translateX(0rem);
      -ms-transform: translateX(0rem);
          transform: translateX(0rem);
}

.element-animation-right {
  opacity: 0;
  -webkit-transform: translateX(3.125rem);
      -ms-transform: translateX(3.125rem);
          transform: translateX(3.125rem);
}

.element-animation-right.element-show {
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  opacity: 1;
  -webkit-transform: translateX(0rem);
      -ms-transform: translateX(0rem);
          transform: translateX(0rem);
}

.element-animation-top {
  opacity: 0;
  -webkit-transform: translateY(-3.125rem);
      -ms-transform: translateY(-3.125rem);
          transform: translateY(-3.125rem);
}

.element-animation-top.element-show {
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  opacity: 1;
  -webkit-transform: translateY(0rem);
      -ms-transform: translateY(0rem);
          transform: translateY(0rem);
}

.element-animation-bottom {
  opacity: 0;
  -webkit-transform: translateY(3.125rem);
      -ms-transform: translateY(3.125rem);
          transform: translateY(3.125rem);
}

.element-animation-bottom.element-show {
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  opacity: 1;
  -webkit-transform: translateY(0rem);
      -ms-transform: translateY(0rem);
          transform: translateY(0rem);
}

.element-animation-opacity {
  opacity: 0;
}

.element-animation-opacity.element-show {
  -webkit-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
  opacity: 1;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 3;
  line-height: 1.125;
  letter-spacing: -0.035em;
  color: #62D0DF;
}

.header__button {
  position: relative;
  z-index: 2;
  font-size: 0.875rem;
  line-height: 1.1428571429;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #62D0DF;
  text-transform: uppercase;
  padding: 1.1875rem 1.875rem;
  border-radius: 3.125rem;
  color: #FFFFFF;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  font-size: 0.875rem;
  line-height: 1.1428571429;
}

.icon-menu {
  display: none;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #62D0DF;
}

.block-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-footer__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39.5%;
          flex: 0 1 39.5%;
  padding-bottom: 20.3%;
}

.content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.875rem;
}

.content-footer__sub-title {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 0.7857142857;
  letter-spacing: -0.006em;
  color: #22356F;
  font-weight: 600;
}

.content-footer__text {
  font-size: 0.875rem;
  line-height: 1.6428571429;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}

.content-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.copy__text {
  font-size: 0.875rem;
  line-height: 1;
  letter-spacing: -0.006em;
  color: #FFFFFF;
}

.main {
  position: relative;
  padding-bottom: 1.875rem;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 77.5%;
  height: 100%;
  background-color: #F4F9E2;
}

.main__container {
  position: relative;
  z-index: 2;
}

.block-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.75rem;
}

.block-main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30.25rem;
          flex: 0 1 30.25rem;
}

.block-main__image {
  padding-top: 7.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.block-main__image img {
  border-radius: 500px 100px 300px 100px;
  max-width: 111.6%;
  -webkit-transform: translate(11.6%);
      -ms-transform: translate(11.6%);
          transform: translate(11.6%);
}

.content-main__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  line-height: 1.125;
  letter-spacing: -0.035em;
  color: #62D0DF;
}

.content-main__title {
  font-weight: 700;
  line-height: 1.1041666667;
  letter-spacing: -0.035em;
  color: #22356F;
}

.content-main__text {
  line-height: 1.75;
  color: #22356F;
}

.actions-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.actions-main__button {
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 0.1em;
  color: #FAB63E;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  font-weight: 600;
}

.block-why {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-why::before {
  content: "";
  background-color: #62D0DF;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.block-why__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 63.2%;
          flex: 0 1 63.2%;
  position: relative;
  z-index: 2;
}

.block-why__title {
  font-weight: 700;
  line-height: 0.75;
  letter-spacing: -0.006em;
  color: #FFFFFF;
}

.block-why__title:not(:last-child) {
  margin-bottom: 5.625rem;
}

.block-why__text {
  color: #fff;
  line-height: 1.4583333333;
}

.block-why__text span {
  font-weight: 600;
}

.block-why__image-ibg {
  position: relative;
  z-index: 2;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36.8%;
          flex: 0 1 36.8%;
  padding-bottom: 37%;
}

.about-us__container {
  position: relative;
  padding-bottom: 1.5rem;
}

.about-us__title {
  text-transform: uppercase;
  position: absolute;
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 0.06em;
  color: #22356F;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 600;
}

.about-us__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__text {
  max-width: 37rem;
  line-height: 1.4166666667;
  letter-spacing: 0.005em;
  color: #22356F;
}

.about-us__sub-title {
  font-size: 1rem;
  line-height: 1.1875;
  letter-spacing: 0.06em;
  color: #62D0DF;
}

.block-help {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.block-help__item {
  min-height: 22.5rem;
  color: #fff;
  text-align: center;
  padding: 4.375rem 3.3125rem 4.375rem 3.3125rem;
}

.block-help__item_1 {
  background-color: #FFE2DE;
}

.block-help__item_2 {
  background-color: #C4E769;
}

.block-help__item_3 {
  background-color: #62D0DF;
}

.block-help__item_4 {
  background-color: #0052C1;
}

.block-help__line {
  max-width: 70.8%;
  margin: 0 auto;
  background-color: #fff;
  height: 0.0625rem;
  margin-bottom: 1.75rem;
}

.block-help__title {
  line-height: 1.0625;
  letter-spacing: -0.006em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.block-help__title::before {
  content: "";
  width: 0.5625rem;
  height: 0.5625rem;
  background-color: #E9B730;
  border-radius: 50%;
}

.health__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.health__item {
  color: #fff;
  text-align: center;
}

.health__item_1-ibg {
  padding-bottom: 70%;
}

.health__item_2 {
  background-color: #0052C1;
}

.health__item_3-ibg {
  padding-bottom: 70%;
}

.health__item_4 {
  background-color: #62D0DF;
}

.health__item_5-ibg {
  padding-bottom: 70%;
}

.health__item_6 {
  background-color: #8F00FF;
}

.health__body {
  position: relative;
  z-index: 2;
}

.health__line {
  max-width: 97.8%;
  margin: 0 auto;
  background-color: #fff;
  height: 0.0625rem;
  margin-bottom: 1.75rem;
}

.health__title {
  line-height: 1.0625;
  letter-spacing: -0.006em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.health__title::before {
  content: "";
  width: 0.5625rem;
  height: 0.5625rem;
  background-color: #E9B730;
  border-radius: 50%;
}

.info__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info__title {
  font-size: 1.75rem;
  line-height: 1.1785714286;
  letter-spacing: -0.03em;
  color: #22356F;
}

.info__text {
  font-size: 1rem;
  line-height: 1.5625;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

.sport {
  padding-top: 2.5rem;
}

.sport__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sport__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding-bottom: 40%;
}

.sport__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0rem 0.9375rem;
}

.content-sport__sub-title {
  font-size: 1rem;
  line-height: 1.3333333333;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 600;
  color: #22356F;
}

.content-sport__text {
  line-height: 1.4722222222;
  letter-spacing: -0.01em;
  color: #22356F;
}

.content-sport__text span {
  color: #62D0DF;
}

.content-sport__button {
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 0.1em;
  color: #FAB63E;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  font-weight: 600;
}

.contact-us__block {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-us__block::before {
  content: "";
  background-color: #22356F;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.contact-us__image-ibg {
  position: relative;
  z-index: 3;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding-bottom: 40%;
}

.content-contact-us {
  padding-bottom: 2.5rem;
  color: #fff;
  position: relative;
  z-index: 3;
}

.content-contact-us__sub-title {
  font-size: 1rem;
  line-height: 1.3333333333;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 600;
}

.content-contact-us__title {
  line-height: 1.46875;
  letter-spacing: -0.01em;
}

.content-contact-us__text {
  line-height: 1.4722222222;
  letter-spacing: -0.01em;
}

.content-contact-us__text span {
  color: #62D0DF;
}

.content-contact-us__button {
  font-size: 1rem;
  line-height: 1.4375;
  letter-spacing: 0.1em;
  color: #62D0DF;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
  font-weight: 600;
}

@media (min-width: 72.5em) {
  .header__container {
    min-height: 5.625rem;
  }

  .footer__copy {
    min-height: 5rem;
  }

  .content-footer {
    padding-top: 5.9375rem;
  }

  .content-footer {
    padding-bottom: 5.9375rem;
  }

  .content-footer {
    padding-left: 4.375rem;
  }

  .content-footer {
    padding-right: 4.375rem;
  }

  .content-footer {
    -webkit-column-gap: 5.625rem;
       -moz-column-gap: 5.625rem;
            column-gap: 5.625rem;
  }

  .content-footer__sub-title:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .content-footer__links {
    margin-top: 2.5rem;
  }

  .content-main {
    padding-top: 15.0625rem;
  }

  .content-main__logo:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .content-main__title {
    font-size: 3.125rem;
  }

  .content-main__title:not(:last-child) {
    margin-bottom: 5rem;
  }

  .content-main__text {
    font-size: 1.4375rem;
  }

  .content-main__text:not(:last-child) {
    margin-bottom: 3.9375rem;
  }

  .block-why__title {
    font-size: 2.25rem;
  }

  .block-why__title:not(:last-child) {
    margin-bottom: 5.625rem;
  }

  .block-why__text {
    font-size: 1.375rem;
  }

  .about-us__container {
    padding-top: 9.875rem;
  }

  .about-us__block {
    row-gap: 4.75rem;
  }

  .about-us__text {
    font-size: 1.5rem;
  }

  .help {
    padding-bottom: 7.5rem;
  }

  .block-help__item {
    padding-top: 4.375rem;
  }

  .block-help__item {
    padding-bottom: 4.375rem;
  }

  .block-help__item {
    padding-left: 3.3125rem;
  }

  .block-help__item {
    padding-right: 3.3125rem;
  }

  .health__item {
    padding-top: 5.9375rem;
  }

  .health__item {
    padding-bottom: 5.9375rem;
  }

  .health__item {
    padding-left: 4.375rem;
  }

  .health__item {
    padding-right: 4.375rem;
  }

  .info__item {
    row-gap: 1.75rem;
  }

  .sport__block {
    -webkit-column-gap: 6.625rem;
       -moz-column-gap: 6.625rem;
            column-gap: 6.625rem;
  }

  .content-sport {
    padding-bottom: 2.625rem;
  }

  .content-sport__text {
    font-size: 2.25rem;
  }

  .content-contact-us {
    padding-top: 6.5625rem;
  }

  .content-contact-us__title {
    font-size: 4rem;
  }

  .content-contact-us__title:not(:last-child) {
    margin-bottom: 4.6875rem;
  }

  .content-contact-us__text {
    font-size: 2.25rem;
  }
}

@media (min-width: 90em) {
  .block-why__content {
    padding-left: 9.375rem;
  }

  .block-why__content {
    padding-right: 9.375rem;
  }

  .block-why__content {
    padding-top: 9.375rem;
  }

  .block-why__content {
    padding-bottom: 5.625rem;
  }

  .about-us__title {
    margin-left: -2.5rem;
  }

  .block-help__item {
    min-height: 22.5rem;
  }

  .block-help__title {
    font-size: 2rem;
  }

  .health__title {
    font-size: 2rem;
  }

  .info__item {
    padding-top: 3.4375rem;
  }

  .info__item {
    padding-bottom: 3.4375rem;
  }

  .info__item {
    padding-left: 6.5625rem;
  }

  .info__item {
    padding-right: 6.5625rem;
  }
}

@media (min-width: 120em) {
  .content-sport__sub-title:not(:last-child) {
    margin-bottom: 14.0625rem;
  }

  .content-sport__text:not(:last-child) {
    margin-bottom: 9.5rem;
  }

  .content-contact-us {
    padding-left: 11.25rem;
  }

  .content-contact-us {
    padding-right: 11.25rem;
  }

  .content-contact-us__sub-title:not(:last-child) {
    margin-bottom: 14.0625rem;
  }

  .content-contact-us__text:not(:last-child) {
    margin-bottom: 9.5rem;
  }
}

@media (max-width: 62em) {
  .about-us__title {
    margin-left: 0.625rem;
  }

  .block-help__item {
    min-height: 13.75rem;
  }

  .block-help__title {
    font-size: 1.25rem;
  }

  .health__title {
    font-size: 1.25rem;
  }
}

@media (max-width: 48em) {
  .block-why__content {
    padding-left: 0.9375rem;
  }

  .block-why__content {
    padding-right: 0.9375rem;
  }
}

@media (max-width: 20em) {
  .header__container {
    min-height: 4.375rem;
  }

  .footer__copy {
    min-height: 3.75rem;
  }

  .content-footer {
    padding-top: 1.875rem;
  }

  .content-footer {
    padding-bottom: 1.875rem;
  }

  .content-footer {
    padding-left: 1.25rem;
  }

  .content-footer {
    padding-right: 1.25rem;
  }

  .content-footer {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }

  .content-footer__sub-title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .content-footer__links {
    margin-top: 1.25rem;
  }

  .content-main {
    padding-top: 6.25rem;
  }

  .content-main__logo:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .content-main__title {
    font-size: 1.75rem;
  }

  .content-main__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .content-main__text {
    font-size: 0.875rem;
  }

  .content-main__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .block-why__content {
    padding-top: 1.875rem;
  }

  .block-why__content {
    padding-bottom: 1.25rem;
  }

  .block-why__title {
    font-size: 1.75rem;
  }

  .block-why__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .block-why__text {
    font-size: 0.875rem;
  }

  .about-us__container {
    padding-top: 1.875rem;
  }

  .about-us__block {
    row-gap: 1.25rem;
  }

  .about-us__text {
    font-size: 1rem;
  }

  .help {
    padding-bottom: 2.5rem;
  }

  .block-help__item {
    padding-top: 1.25rem;
  }

  .block-help__item {
    padding-bottom: 1.25rem;
  }

  .block-help__item {
    padding-left: 1.25rem;
  }

  .block-help__item {
    padding-right: 1.25rem;
  }

  .health__item {
    padding-top: 1.25rem;
  }

  .health__item {
    padding-bottom: 3.75rem;
  }

  .health__item {
    padding-left: 1.25rem;
  }

  .health__item {
    padding-right: 1.25rem;
  }

  .info__item {
    row-gap: 0.625rem;
  }

  .sport__block {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .content-sport {
    padding-bottom: 1.25rem;
  }

  .content-sport__text {
    font-size: 1rem;
  }

  .content-contact-us {
    padding-top: 2.5rem;
  }

  .content-contact-us__title {
    font-size: 2rem;
  }

  .content-contact-us__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .content-contact-us__text {
    font-size: 1rem;
  }
}

@media (max-width: 61.99875em) {
  .block-main__image {
    display: none;
  }

  .block-why__image-ibg img {
    -o-object-position: left;
       object-position: left;
  }

  .about-us__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about-us__title {
    position: static;
  }

  .about-us__text {
    text-align: center;
  }

  .block-help {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .block-help__title {
    font-size: 1.875rem;
  }

  .health__item_1-ibg {
    padding-bottom: 40%;
  }

  .health__item_3-ibg {
    padding-bottom: 40%;
  }

  .health__item_5-ibg {
    padding-bottom: 40%;
  }

  .health__title {
    font-size: 1.625rem;
  }

  .info__block {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .sport__image-ibg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .sport__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .contact-us__image-ibg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 61.99875em) and (max-width: 20em) {
  .about-us__title {
    margin-bottom: 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .header {
    background-color: #fff;
  }

  .header__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0.9375rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 6.875rem 0.9375rem 1.875rem 0.9375rem;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: -100%;
    z-index: 2;
    min-height: 5.625rem;
  }

  .menu-open .menu__body {
    left: 0%;
  }

  .menu-open .menu__body::before {
    content: "";
    left: 0%;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
  }

  .menu__link {
    font-size: 1.5rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgba(34, 53, 111, 0.5);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .block-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .block-footer__image-ibg {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 70.5%;
            flex: 0 1 70.5%;
    padding-bottom: 40.3%;
  }

  .content-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .main::before {
    width: 100%;
  }

  .block-help {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .block-help__item {
    min-height: 0;
  }

  .health__block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .health__item_1-ibg {
    padding-bottom: 20%;
  }

  .health__item_3-ibg {
    padding-bottom: 20%;
  }

  .health__item_5-ibg {
    padding-bottom: 20%;
  }

  .info__block {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .info__item {
    padding: 1.25rem 1.25rem 0.625rem 1.25rem;
  }

  .info__item:last-child {
    padding-bottom: 1.25rem;
  }

  .sport {
    padding-top: 0rem;
  }

  .sport__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sport__image-ibg {
    width: 100%;
  }

  .content-sport__sub-title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .content-sport__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .contact-us__image-ibg {
    width: 100%;
  }

  .content-contact-us {
    padding: 0.9375rem;
  }

  .content-contact-us__sub-title:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .content-contact-us__text:not(:last-child) {
    margin-bottom: 0.9375rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 37.5em) {
  .block-why {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-why__image-ibg {
    padding-bottom: 65%;
  }

  .block-why__image-ibg img {
    -o-object-position: center;
       object-position: center;
  }

  .contact-us__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact-us img {
    -o-object-position: 0% 42%;
       object-position: 0% 42%;
  }
}

@media (max-width: 26.25em) {
  .menu__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 20em) and (max-width: 72.5em) {
@supports (min-height: clamp( 4.375rem , 3.8988095238rem  +  2.380952381vw , 5.625rem )) {
    .header__container {
      min-height: clamp( 4.375rem , 3.8988095238rem  +  2.380952381vw , 5.625rem );
    }
}

@supports not (min-height: clamp( 4.375rem , 3.8988095238rem  +  2.380952381vw , 5.625rem )) {
    .header__container {
      min-height: calc(4.375rem + 1.25 * (100vw - 20rem) / 52.5);
    }
}

@supports (min-height: clamp( 3.75rem , 3.2738095238rem  +  2.380952381vw , 5rem )) {
    .footer__copy {
      min-height: clamp( 3.75rem , 3.2738095238rem  +  2.380952381vw , 5rem );
    }
}

@supports not (min-height: clamp( 3.75rem , 3.2738095238rem  +  2.380952381vw , 5rem )) {
    .footer__copy {
      min-height: calc(3.75rem + 1.25 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-top: clamp( 1.875rem , 0.3273809524rem  +  7.7380952381vw , 5.9375rem )) {
    .content-footer {
      padding-top: clamp( 1.875rem , 0.3273809524rem  +  7.7380952381vw , 5.9375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 0.3273809524rem  +  7.7380952381vw , 5.9375rem )) {
    .content-footer {
      padding-top: calc(1.875rem + 4.0625 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 0.3273809524rem  +  7.7380952381vw , 5.9375rem )) {
    .content-footer {
      padding-bottom: clamp( 1.875rem , 0.3273809524rem  +  7.7380952381vw , 5.9375rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.3273809524rem  +  7.7380952381vw , 5.9375rem )) {
    .content-footer {
      padding-bottom: calc(1.875rem + 4.0625 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem )) {
    .content-footer {
      padding-left: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem )) {
    .content-footer {
      padding-left: calc(1.25rem + 3.125 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem )) {
    .content-footer {
      padding-right: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem )) {
    .content-footer {
      padding-right: calc(1.25rem + 3.125 * (100vw - 20rem) / 52.5);
    }
}

@supports ((-moz-column-gap: clamp( 1.875rem , 0.4464285714rem  +  7.1428571429vw , 5.625rem )) or (column-gap: clamp( 1.875rem , 0.4464285714rem  +  7.1428571429vw , 5.625rem ))) {
    .content-footer {
      -webkit-column-gap: clamp( 1.875rem , 0.4464285714rem  +  7.1428571429vw , 5.625rem );
         -moz-column-gap: clamp( 1.875rem , 0.4464285714rem  +  7.1428571429vw , 5.625rem );
              column-gap: clamp( 1.875rem , 0.4464285714rem  +  7.1428571429vw , 5.625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.4464285714rem  +  7.1428571429vw , 5.625rem )) or (column-gap: clamp( 1.875rem , 0.4464285714rem  +  7.1428571429vw , 5.625rem ))) {
    .content-footer {
      -webkit-column-gap: calc(1.875rem + 3.75 * (100vw - 20rem) / 52.5);
         -moz-column-gap: calc(1.875rem + 3.75 * (100vw - 20rem) / 52.5);
              column-gap: calc(1.875rem + 3.75 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
    .content-footer__sub-title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
    .content-footer__sub-title:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
    .content-footer__links {
      margin-top: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
    .content-footer__links {
      margin-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-top: clamp( 6.25rem , 2.8928571429rem  +  16.7857142857vw , 15.0625rem )) {
    .content-main {
      padding-top: clamp( 6.25rem , 2.8928571429rem  +  16.7857142857vw , 15.0625rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 2.8928571429rem  +  16.7857142857vw , 15.0625rem )) {
    .content-main {
      padding-top: calc(6.25rem + 8.8125 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
    .content-main__logo:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.7738095238rem  +  2.380952381vw , 2.5rem )) {
    .content-main__logo:not(:last-child) {
      margin-bottom: calc(1.25rem + 1.25 * (100vw - 20rem) / 52.5);
    }
}

@supports (font-size: clamp( 1.75rem , 1.2261904762rem  +  2.619047619vw , 3.125rem )) {
    .content-main__title {
      font-size: clamp( 1.75rem , 1.2261904762rem  +  2.619047619vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.2261904762rem  +  2.619047619vw , 3.125rem )) {
    .content-main__title {
      font-size: calc(1.75rem + 1.375 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.6845238095rem  +  5.9523809524vw , 5rem )) {
    .content-main__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.6845238095rem  +  5.9523809524vw , 5rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.6845238095rem  +  5.9523809524vw , 5rem )) {
    .content-main__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 3.125 * (100vw - 20rem) / 52.5);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6607142857rem  +  1.0714285714vw , 1.4375rem )) {
    .content-main__text {
      font-size: clamp( 0.875rem , 0.6607142857rem  +  1.0714285714vw , 1.4375rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6607142857rem  +  1.0714285714vw , 1.4375rem )) {
    .content-main__text {
      font-size: calc(0.875rem + 0.5625 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.2261904762rem  +  5.119047619vw , 3.9375rem )) {
    .content-main__text:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.2261904762rem  +  5.119047619vw , 3.9375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.2261904762rem  +  5.119047619vw , 3.9375rem )) {
    .content-main__text:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.6875 * (100vw - 20rem) / 52.5);
    }
}

@supports (font-size: clamp( 1.75rem , 1.5595238095rem  +  0.9523809524vw , 2.25rem )) {
    .block-why__title {
      font-size: clamp( 1.75rem , 1.5595238095rem  +  0.9523809524vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.5595238095rem  +  0.9523809524vw , 2.25rem )) {
    .block-why__title {
      font-size: calc(1.75rem + 0.5 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 1.25rem , -0.4166666667rem  +  8.3333333333vw , 5.625rem )) {
    .block-why__title:not(:last-child) {
      margin-bottom: clamp( 1.25rem , -0.4166666667rem  +  8.3333333333vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.4166666667rem  +  8.3333333333vw , 5.625rem )) {
    .block-why__title:not(:last-child) {
      margin-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 52.5);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6845238095rem  +  0.9523809524vw , 1.375rem )) {
    .block-why__text {
      font-size: clamp( 0.875rem , 0.6845238095rem  +  0.9523809524vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6845238095rem  +  0.9523809524vw , 1.375rem )) {
    .block-why__text {
      font-size: calc(0.875rem + 0.5 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-top: clamp( 1.875rem , -1.1726190476rem  +  15.2380952381vw , 9.875rem )) {
    .about-us__container {
      padding-top: clamp( 1.875rem , -1.1726190476rem  +  15.2380952381vw , 9.875rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -1.1726190476rem  +  15.2380952381vw , 9.875rem )) {
    .about-us__container {
      padding-top: calc(1.875rem + 8 * (100vw - 20rem) / 52.5);
    }
}

@supports (row-gap: clamp( 1.25rem , -0.0833333333rem  +  6.6666666667vw , 4.75rem )) {
    .about-us__block {
      row-gap: clamp( 1.25rem , -0.0833333333rem  +  6.6666666667vw , 4.75rem );
    }
}

@supports not (row-gap: clamp( 1.25rem , -0.0833333333rem  +  6.6666666667vw , 4.75rem )) {
    .about-us__block {
      row-gap: calc(1.25rem + 3.5 * (100vw - 20rem) / 52.5);
    }
}

@supports (font-size: clamp( 1rem , 0.8095238095rem  +  0.9523809524vw , 1.5rem )) {
    .about-us__text {
      font-size: clamp( 1rem , 0.8095238095rem  +  0.9523809524vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8095238095rem  +  0.9523809524vw , 1.5rem )) {
    .about-us__text {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.5952380952rem  +  9.5238095238vw , 7.5rem )) {
    .help {
      padding-bottom: clamp( 2.5rem , 0.5952380952rem  +  9.5238095238vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.5952380952rem  +  9.5238095238vw , 7.5rem )) {
    .help {
      padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem )) {
    .block-help__item {
      padding-top: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem )) {
    .block-help__item {
      padding-top: calc(1.25rem + 3.125 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem )) {
    .block-help__item {
      padding-bottom: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem )) {
    .block-help__item {
      padding-bottom: calc(1.25rem + 3.125 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.4642857143rem  +  3.9285714286vw , 3.3125rem )) {
    .block-help__item {
      padding-left: clamp( 1.25rem , 0.4642857143rem  +  3.9285714286vw , 3.3125rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.4642857143rem  +  3.9285714286vw , 3.3125rem )) {
    .block-help__item {
      padding-left: calc(1.25rem + 2.0625 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.4642857143rem  +  3.9285714286vw , 3.3125rem )) {
    .block-help__item {
      padding-right: clamp( 1.25rem , 0.4642857143rem  +  3.9285714286vw , 3.3125rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.4642857143rem  +  3.9285714286vw , 3.3125rem )) {
    .block-help__item {
      padding-right: calc(1.25rem + 2.0625 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-top: clamp( 1.25rem , -0.5357142857rem  +  8.9285714286vw , 5.9375rem )) {
    .health__item {
      padding-top: clamp( 1.25rem , -0.5357142857rem  +  8.9285714286vw , 5.9375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -0.5357142857rem  +  8.9285714286vw , 5.9375rem )) {
    .health__item {
      padding-top: calc(1.25rem + 4.6875 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 2.9166666667rem  +  4.1666666667vw , 5.9375rem )) {
    .health__item {
      padding-bottom: clamp( 3.75rem , 2.9166666667rem  +  4.1666666667vw , 5.9375rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.9166666667rem  +  4.1666666667vw , 5.9375rem )) {
    .health__item {
      padding-bottom: calc(3.75rem + 2.1875 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-left: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem )) {
    .health__item {
      padding-left: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem );
    }
}

@supports not (padding-left: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem )) {
    .health__item {
      padding-left: calc(1.25rem + 3.125 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-right: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem )) {
    .health__item {
      padding-right: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem );
    }
}

@supports not (padding-right: clamp( 1.25rem , 0.0595238095rem  +  5.9523809524vw , 4.375rem )) {
    .health__item {
      padding-right: calc(1.25rem + 3.125 * (100vw - 20rem) / 52.5);
    }
}

@supports (row-gap: clamp( 0.625rem , 0.1964285714rem  +  2.1428571429vw , 1.75rem )) {
    .info__item {
      row-gap: clamp( 0.625rem , 0.1964285714rem  +  2.1428571429vw , 1.75rem );
    }
}

@supports not (row-gap: clamp( 0.625rem , 0.1964285714rem  +  2.1428571429vw , 1.75rem )) {
    .info__item {
      row-gap: calc(0.625rem + 1.125 * (100vw - 20rem) / 52.5);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -0.7976190476rem  +  10.2380952381vw , 6.625rem )) or (column-gap: clamp( 1.25rem , -0.7976190476rem  +  10.2380952381vw , 6.625rem ))) {
    .sport__block {
      -webkit-column-gap: clamp( 1.25rem , -0.7976190476rem  +  10.2380952381vw , 6.625rem );
         -moz-column-gap: clamp( 1.25rem , -0.7976190476rem  +  10.2380952381vw , 6.625rem );
              column-gap: clamp( 1.25rem , -0.7976190476rem  +  10.2380952381vw , 6.625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -0.7976190476rem  +  10.2380952381vw , 6.625rem )) or (column-gap: clamp( 1.25rem , -0.7976190476rem  +  10.2380952381vw , 6.625rem ))) {
    .sport__block {
      -webkit-column-gap: calc(1.25rem + 5.375 * (100vw - 20rem) / 52.5);
         -moz-column-gap: calc(1.25rem + 5.375 * (100vw - 20rem) / 52.5);
              column-gap: calc(1.25rem + 5.375 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7261904762rem  +  2.619047619vw , 2.625rem )) {
    .content-sport {
      padding-bottom: clamp( 1.25rem , 0.7261904762rem  +  2.619047619vw , 2.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7261904762rem  +  2.619047619vw , 2.625rem )) {
    .content-sport {
      padding-bottom: calc(1.25rem + 1.375 * (100vw - 20rem) / 52.5);
    }
}

@supports (font-size: clamp( 1rem , 0.5238095238rem  +  2.380952381vw , 2.25rem )) {
    .content-sport__text {
      font-size: clamp( 1rem , 0.5238095238rem  +  2.380952381vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.5238095238rem  +  2.380952381vw , 2.25rem )) {
    .content-sport__text {
      font-size: calc(1rem + 1.25 * (100vw - 20rem) / 52.5);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.9523809524rem  +  7.7380952381vw , 6.5625rem )) {
    .content-contact-us {
      padding-top: clamp( 2.5rem , 0.9523809524rem  +  7.7380952381vw , 6.5625rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.9523809524rem  +  7.7380952381vw , 6.5625rem )) {
    .content-contact-us {
      padding-top: calc(2.5rem + 4.0625 * (100vw - 20rem) / 52.5);
    }
}

@supports (font-size: clamp( 2rem , 1.2380952381rem  +  3.8095238095vw , 4rem )) {
    .content-contact-us__title {
      font-size: clamp( 2rem , 1.2380952381rem  +  3.8095238095vw , 4rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.2380952381rem  +  3.8095238095vw , 4rem )) {
    .content-contact-us__title {
      font-size: calc(2rem + 2 * (100vw - 20rem) / 52.5);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 0.8035714286rem  +  5.3571428571vw , 4.6875rem )) {
    .content-contact-us__title:not(:last-child) {
      margin-bottom: clamp( 1.875rem , 0.8035714286rem  +  5.3571428571vw , 4.6875rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 0.8035714286rem  +  5.3571428571vw , 4.6875rem )) {
    .content-contact-us__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 2.8125 * (100vw - 20rem) / 52.5);
    }
}

@supports (font-size: clamp( 1rem , 0.5238095238rem  +  2.380952381vw , 2.25rem )) {
    .content-contact-us__text {
      font-size: clamp( 1rem , 0.5238095238rem  +  2.380952381vw , 2.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.5238095238rem  +  2.380952381vw , 2.25rem )) {
    .content-contact-us__text {
      font-size: calc(1rem + 1.25 * (100vw - 20rem) / 52.5);
    }
}
}

@media (min-width: 48em) and (max-width: 90em) {
@supports (padding-left: clamp( 0.9375rem , -8.7053571429rem  +  20.0892857143vw , 9.375rem )) {
    .block-why__content {
      padding-left: clamp( 0.9375rem , -8.7053571429rem  +  20.0892857143vw , 9.375rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -8.7053571429rem  +  20.0892857143vw , 9.375rem )) {
    .block-why__content {
      padding-left: calc(0.9375rem + 8.4375 * (100vw - 48rem) / 42);
    }
}

@supports (padding-right: clamp( 0.9375rem , -8.7053571429rem  +  20.0892857143vw , 9.375rem )) {
    .block-why__content {
      padding-right: clamp( 0.9375rem , -8.7053571429rem  +  20.0892857143vw , 9.375rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -8.7053571429rem  +  20.0892857143vw , 9.375rem )) {
    .block-why__content {
      padding-right: calc(0.9375rem + 8.4375 * (100vw - 48rem) / 42);
    }
}

@supports (padding-top: clamp( 1.25rem , -1.25rem  +  5.2083333333vw , 3.4375rem )) {
    .info__item {
      padding-top: clamp( 1.25rem , -1.25rem  +  5.2083333333vw , 3.4375rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , -1.25rem  +  5.2083333333vw , 3.4375rem )) {
    .info__item {
      padding-top: calc(1.25rem + 2.1875 * (100vw - 48rem) / 42);
    }
}

@supports (padding-bottom: clamp( 1.25rem , -1.25rem  +  5.2083333333vw , 3.4375rem )) {
    .info__item {
      padding-bottom: clamp( 1.25rem , -1.25rem  +  5.2083333333vw , 3.4375rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , -1.25rem  +  5.2083333333vw , 3.4375rem )) {
    .info__item {
      padding-bottom: calc(1.25rem + 2.1875 * (100vw - 48rem) / 42);
    }
}

@supports (padding-left: clamp( 2.5rem , -2.1428571429rem  +  9.6726190476vw , 6.5625rem )) {
    .info__item {
      padding-left: clamp( 2.5rem , -2.1428571429rem  +  9.6726190476vw , 6.5625rem );
    }
}

@supports not (padding-left: clamp( 2.5rem , -2.1428571429rem  +  9.6726190476vw , 6.5625rem )) {
    .info__item {
      padding-left: calc(2.5rem + 4.0625 * (100vw - 48rem) / 42);
    }
}

@supports (padding-right: clamp( 2.5rem , -2.1428571429rem  +  9.6726190476vw , 6.5625rem )) {
    .info__item {
      padding-right: clamp( 2.5rem , -2.1428571429rem  +  9.6726190476vw , 6.5625rem );
    }
}

@supports not (padding-right: clamp( 2.5rem , -2.1428571429rem  +  9.6726190476vw , 6.5625rem )) {
    .info__item {
      padding-right: calc(2.5rem + 4.0625 * (100vw - 48rem) / 42);
    }
}
}

@media (min-width: 20em) and (max-width: 90em) {
@supports (padding-top: clamp( 1.875rem , -0.2678571429rem  +  10.7142857143vw , 9.375rem )) {
    .block-why__content {
      padding-top: clamp( 1.875rem , -0.2678571429rem  +  10.7142857143vw , 9.375rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.2678571429rem  +  10.7142857143vw , 9.375rem )) {
    .block-why__content {
      padding-top: calc(1.875rem + 7.5 * (100vw - 20rem) / 70);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.0000000625rem  +  6.25vw , 5.625rem )) {
    .block-why__content {
      padding-bottom: clamp( 1.25rem , 0.0000000625rem  +  6.25vw , 5.625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.0000000625rem  +  6.25vw , 5.625rem )) {
    .block-why__content {
      padding-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 70);
    }
}
}

@media (min-width: 62em) and (max-width: 90em) {
@supports (margin-left: clamp( -2.5rem , 7.5446428571rem  +  -11.1607142857vw , 0.625rem )) {
    .about-us__title {
      margin-left: clamp( -2.5rem , 7.5446428571rem  +  -11.1607142857vw , 0.625rem );
    }
}

@supports not (margin-left: clamp( -2.5rem , 7.5446428571rem  +  -11.1607142857vw , 0.625rem )) {
    .about-us__title {
      margin-left: calc(0.625rem + -3.125 * (100vw - 62rem) / 28);
    }
}

@supports (min-height: clamp( 13.75rem , -5.625rem  +  31.25vw , 22.5rem )) {
    .block-help__item {
      min-height: clamp( 13.75rem , -5.625rem  +  31.25vw , 22.5rem );
    }
}

@supports not (min-height: clamp( 13.75rem , -5.625rem  +  31.25vw , 22.5rem )) {
    .block-help__item {
      min-height: calc(13.75rem + 8.75 * (100vw - 62rem) / 28);
    }
}

@supports (font-size: clamp( 1.25rem , -0.4107142857rem  +  2.6785714286vw , 2rem )) {
    .block-help__title {
      font-size: clamp( 1.25rem , -0.4107142857rem  +  2.6785714286vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.25rem , -0.4107142857rem  +  2.6785714286vw , 2rem )) {
    .block-help__title {
      font-size: calc(1.25rem + 0.75 * (100vw - 62rem) / 28);
    }
}

@supports (font-size: clamp( 1.25rem , -0.4107142857rem  +  2.6785714286vw , 2rem )) {
    .health__title {
      font-size: clamp( 1.25rem , -0.4107142857rem  +  2.6785714286vw , 2rem );
    }
}

@supports not (font-size: clamp( 1.25rem , -0.4107142857rem  +  2.6785714286vw , 2rem )) {
    .health__title {
      font-size: calc(1.25rem + 0.75 * (100vw - 62rem) / 28);
    }
}
}

@media (max-width: 61.99875em) and (min-width: 72.5em) {
  .about-us__title {
    margin-bottom: 4.75rem;
  }
}

@media (max-width: 61.99875em) and (min-width: 20em) and (max-width: 72.5em) {
@supports (margin-bottom: clamp( 0.9375rem , -0.5148809524rem  +  7.2619047619vw , 4.75rem )) {
    .about-us__title {
      margin-bottom: clamp( 0.9375rem , -0.5148809524rem  +  7.2619047619vw , 4.75rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , -0.5148809524rem  +  7.2619047619vw , 4.75rem )) {
    .about-us__title {
      margin-bottom: calc(0.9375rem + 3.8125 * (100vw - 20rem) / 52.5);
    }
}
}

@media (min-width: 48em) and (max-width: 120em) {
@supports (margin-bottom: clamp( 0.9375rem , -7.8125rem  +  18.2291666667vw , 14.0625rem )) {
    .content-sport__sub-title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , -7.8125rem  +  18.2291666667vw , 14.0625rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , -7.8125rem  +  18.2291666667vw , 14.0625rem )) {
    .content-sport__sub-title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 13.125 * (100vw - 48rem) / 72);
    }
}

@supports (margin-bottom: clamp( 0.625rem , -5.2916666667rem  +  12.3263888889vw , 9.5rem )) {
    .content-sport__text:not(:last-child) {
      margin-bottom: clamp( 0.625rem , -5.2916666667rem  +  12.3263888889vw , 9.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -5.2916666667rem  +  12.3263888889vw , 9.5rem )) {
    .content-sport__text:not(:last-child) {
      margin-bottom: calc(0.625rem + 8.875 * (100vw - 48rem) / 72);
    }
}

@supports (padding-left: clamp( 0.9375rem , -5.9375rem  +  14.3229166667vw , 11.25rem )) {
    .content-contact-us {
      padding-left: clamp( 0.9375rem , -5.9375rem  +  14.3229166667vw , 11.25rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , -5.9375rem  +  14.3229166667vw , 11.25rem )) {
    .content-contact-us {
      padding-left: calc(0.9375rem + 10.3125 * (100vw - 48rem) / 72);
    }
}

@supports (padding-right: clamp( 0.9375rem , -5.9375rem  +  14.3229166667vw , 11.25rem )) {
    .content-contact-us {
      padding-right: clamp( 0.9375rem , -5.9375rem  +  14.3229166667vw , 11.25rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , -5.9375rem  +  14.3229166667vw , 11.25rem )) {
    .content-contact-us {
      padding-right: calc(0.9375rem + 10.3125 * (100vw - 48rem) / 72);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , -7.8125rem  +  18.2291666667vw , 14.0625rem )) {
    .content-contact-us__sub-title:not(:last-child) {
      margin-bottom: clamp( 0.9375rem , -7.8125rem  +  18.2291666667vw , 14.0625rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , -7.8125rem  +  18.2291666667vw , 14.0625rem )) {
    .content-contact-us__sub-title:not(:last-child) {
      margin-bottom: calc(0.9375rem + 13.125 * (100vw - 48rem) / 72);
    }
}

@supports (margin-bottom: clamp( 0.625rem , -5.2916666667rem  +  12.3263888889vw , 9.5rem )) {
    .content-contact-us__text:not(:last-child) {
      margin-bottom: clamp( 0.625rem , -5.2916666667rem  +  12.3263888889vw , 9.5rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -5.2916666667rem  +  12.3263888889vw , 9.5rem )) {
    .content-contact-us__text:not(:last-child) {
      margin-bottom: calc(0.625rem + 8.875 * (100vw - 48rem) / 72);
    }
}
}

@media (any-hover: hover) {
  .header__button:hover {
    background-color: #53b2be;
  }

  .menu__link:hover {
    text-decoration: underline;
  }

  .actions-main__button:hover {
    padding: 0.625rem 1.875rem;
    background-color: #FAB63E;
    color: #fff;
  }

  .content-sport__button:hover {
    padding: 0.625rem 1.875rem;
    background-color: #FAB63E;
    color: #fff;
  }

  .content-contact-us__button:hover {
    padding: 0.625rem 1.875rem;
    background-color: #62D0DF;
    color: #fff;
  }
}